.budgie-panel {
    background-color: transparent;
    color: white;
}

.budgie-panel button {
    background-color: transparent;
    color: white;
    border: none;
}

.budgie-panel button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.budgie-panel .end-region {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(129, 143, 156, 0.75);
    border-radius: 4px;
}

.workspace-switcher .workspace-item {
    border: 1px solid rgba(129, 143, 156, 0.75);
    background-color: rgba(0,0,0,0.25);
}

.workspace-switcher .current-workspace {
    background-color: rgba(255,255,255, 0.25);
}
